<span>
    <br> <br>
    <div class="center">
        <b>{{title}}</b>
    </div>
    <div>
        {{#if error}}
            {{#each chars}}
                <br>{{this}}
            {{/each}}
        {{else}}
            <ul>
                {{#each chars}}
                    <li class="home-name"><a href="/name/{{this.name}}">{{this.name}}</a></li>     
                {{/each}}
            </ul>
            </div>
        {{/if}}
    </div>
</span>